# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE (JetBrains / PyCharm)
.idea/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS junk
.DS_Store

.venv/

_pycache__/

# Local secrets
.env
*.env
**/.env
**/*.env
